.pokes {

}

.pokes.browser-connected {
  display: block !important;
}

.pokemon__list {
  width: 600px;
  position: relative;
  top: -50px;
}

.pokemon__list .pokemon {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 150px;
}

.pokemon__list .pokemon .floating-details {
  background-color: rgba(0,0,0, 0.25);
  top: calc(50% - 60px);
  width: 77px;
  height: 16px;
  position: absolute;
  left: calc(50% + 10px);
  padding: 3px;
}
.pokemon__list .pokemon .floating-details .name {
  font-size: 8px;
  color: #fff;
  font-family: "Pokemon GB";
  text-align: left;
  margin-bottom: 5px;
}
.pokemon__list .pokemon .floating-details .hp {
  background-color: rgba(255, 255, 255, 0.5);
}
.pokemon__list .pokemon .floating-details .hp .hp-bar {
  height: 2px;
  background-color: #0f0;
}

/*
  Pokemon Slot 1 - Z-index: 9
  Pokemon Slot 2 - Z-index: 8
  Pokemon Slot 3 - Z-index: 7
  Pokemon Slot 4 - Z-index: 6
  Pokemon Slot 5 - Z-index: 5
  Pokemon Slot 6 - Z-index: 4
*/
.pokemon__list .pokemon:nth-child(3n-2) {
  left: -30px;
}
.pokemon__list .pokemon:nth-child(3n-1) {
  left: -135px;
}
.pokemon__list .pokemon:nth-child(3n) {
  left: -270px;
}

/* Bump up front row */
.pokemon:nth-child(n+4) {
  top: -100px;
}


/* Bump up front row */
.pokemon:nth-child(-n+3) {
  top: 130px;
}


.pokemon__list .pokemon:nth-child(1) {
  z-index: 9;
  width: 200px;
  top: 150px;
}
.pokemon__list .pokemon:nth-child(2) {
  z-index: 8;
  width: 200px;
}
.pokemon__list .pokemon:nth-child(3) {
  z-index: 7;
  width: 200px;
  top: 150px;
}
.pokemon__list .pokemon:nth-child(4) {
  z-index: 6;
  width: 200px;
  top: -83px;
}
.pokemon__list .pokemon:nth-child(5) {
  z-index: 5;
  width: 200px;
  top: -125px;
}
.pokemon__list .pokemon:nth-child(6) {
  z-index: 4;
  width: 200px;
}



    /* transitions stuffs */
    .switchSlow-move {
      transition: transform 2s;
  }

  .switchMedium-move {
      transition: transform 1s;
  }

  .switchFast-move {
      transition: transform 0.5s;
  }

  
  @-webkit-keyframes float {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    50% {
      -webkit-transform: translateY(-57%) translateX(-50%);
              transform: translateY(-57%) translateX(-50%);
    }
  }
  @keyframes float {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    50% {
      -webkit-transform: translateY(-57%) translateX(-50%);
              transform: translateY(-57%) translateX(-50%);
    }
  }